.wrapper, .transformLayer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.wrapper {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}