.wrapper, .transformLayer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.wrapper {
  padding: 2rem;
}