.bubble {
  opacity: 0;
  position: absolute;
  bottom: var(--particle-size);
  width: var(--particle-size);
  height: var(--particle-size);
  background-color: var(--light);
  border-radius: 50%;
}

.bottomParticles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}