:root {
  --particle-size: 1rem;
  --particle-distance: 100vh;
  --particle-min-speed: 5000; 
  --particle-max-speed: 15000;
  --particle-max-delay: 12000;
}

@keyframes blow {
   0% {
      opacity: 0;
      transform:translateY(0) scale(1);
   }
   20% { 
      opacity: 0.3;
   }
   100% {
      opacity: 0;
      transform:translateY(-100vh) scale(0.2);
   }
}