.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
  gap: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
}

.github {
  display: flex;
  gap: 0.5rem;
  color: var(--light);
}

.github svg {
  fill: var(--light);
}