.navList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.navListItem {
  list-style: none;
  font-size: 1rem;
  font-weight: 300;
  transition: border 0.2s ease-in-out, transform 0.1s ease-in-out;
  border-radius: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--light);
  transform: perspective(100px) translate3d(0px, 0, 0px);
}


.navListItem:hover,
.navListItem:focus-within {
  border: 1px solid var(--primary);
  transform: perspective(100px) translate3d(0px, 0px, 10px);
}

.navListItem a {
  outline: none;
  border-radius: 1rem;
  display: block;
  line-height: 1;
  padding: 0.5rem 1.25rem;
  color: var(--light);
  transition: color 0.2s ease-in-out;
}

.navListItem:hover a,
.navListItem:focus-within a {
  color: var(--primary);
}

.activeLink a {
  color: var(--tertiary);
}