.navList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.navListItem {
  list-style: none;
  font-size: 1rem;
  font-weight: 300;
  transition: border 0.2s ease-in-out;
  border-radius: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--light);
}


.navListItem:hover,
.navListItem:focus-within {
  border: 1px solid var(--primary);
}

.navListItem a {
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--light);
  transition: color 0.2s ease-in-out;
}

.navListItem:hover a,
.navListItem:focus-within a {
  color: var(--primary);
}

.activeLink a {
  color: var(--tertiary);
}